@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 :root {
     --primary-color: #008080;
     --black-color: #121212;
     --blue-color: rgb(43, 177, 255);
     --white-color: #F5F5F5;
     --main-font: "Montserrat";
     --secondary-font: "Inter";
     --font-size: 2.5vh;
 }
 
 body {
     font-family: var(--main-font), sans-serif;
     font-size: var(--font-size);
     margin: 0;
     padding: 0;
     background-color: var(--black-color);
     color: var(--white-color);
 }

 nav {
    background-color: var(--black-color);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--blue-color);
    box-shadow: 0px 1px 10px rgba(43, 177, 255, 0.6);
    z-index: 1000;
}

.logo img {
    width: 40px;
    height: 40px;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 20px;
    color: var(--white-color);

}

.navBar .logo h2 {
    font-size: 3vh;
    color: var(--white-color);
}

.navItems {
    display: flex;
    align-items: center;
}

.navList {
    font-size: 2vh;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navList .nav-item {
    color: var(--white-color);
    text-decoration: none;
}

.navList .nav-item:hover {
    color: var(--blue-color);
}

.nav-item-2 {
    background-color: var(--blue-color);
    color: var(--black-color);
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 5px rgba(43, 177, 255, 0.6);
    transition: 0.4s ease-in-out;
}
.nav-item-2:hover {
    background-color: var(--black-color);
    color: var(--blue-color);
    cursor: pointer;
}

#menuBar {
    color: var(--white-color);
    cursor: pointer;
}

#closeBtn {
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

#navSlide {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--black-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navSlideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navSlideContent .navList {
    flex-direction: column;
    gap: 20px;
}

.navSlideFooter {
    position: absolute;
    bottom: 20px;
    color: var(--white-color);
    text-align: center;
}

.container {
    width: 90%;
    width: 580px;
    height: 130px;
    background-color: #1a1a1a;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue-color);
    box-shadow: 0 0 20px rgba(34, 161, 235, 0.512);
  }

  .streak-container {
    color: white;
    text-align: center;
  }

  .streak-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .streak-grid {
    display: grid;
    grid-template-columns: repeat(28, 15px); 
    grid-template-rows: repeat(4, 15px);   
    grid-gap: 4px;
    justify-content: center;
  }

  .streak-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #1a1a1a;
    transition: background-color 0.3s ease;
  }

  .streak-box {
    animation: fadeInScale 0.5s ease forwards;
    opacity: 0;
  }
  

  .intensity-1 { background-color: #b2e0ff; }
  .intensity-2 { background-color: #6ec2fa; }
  .intensity-3 { background-color: rgb(111, 202, 255); }
  .intensity-4 { background-color: rgb(6, 164, 255); }
  .intensity-5 { background-color: var(--blue-color); }


  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.7);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 90%; 
      height: 100px; 
      padding: 10px;
      overflow: hidden;
    }
  
    .streak-grid {
      grid-template-columns: repeat(36, 15px); 
      grid-template-rows: repeat(10, 15px);   
    }
  
    .streak-box {
      width: 12px;
      height: 12px;
    }
  
    .streak-title {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100%; 
      padding: 5px; 
    }
  
    .streak-grid {
      grid-template-columns: repeat(10, 12px);
      grid-template-rows: repeat(2, 12px);  
    }
  
    .streak-box {
      width: 10px; 
      height: 10px;
    }
  
    .streak-title {
      font-size: 1rem;
    }
  }

@media (max-width: 768px) {
    .navList {
        display: none;
    }
    .logo > h2 {
        font-size: 2.3vh;
    }
    .main-screen {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110vh;
        gap: 50px;
        margin-top: 200px;
    }

    form {
        min-width: 250px;
        max-width: 270px;
    }

    .home {
        min-width: 280px;
        max-width: 300px;
    }
}

@media (min-width: 1100px) {
    #menuBar {
        display: none;
    }
    .navSlideContent {
        display: none;
    }

    form {
        min-width: 300px;
    }

    .main-screen {
        margin-top: 80px;
    }
}

.main-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    gap: 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

form {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    padding: 30px;
    border: 1.5px solid var(--blue-color);
    box-shadow: 0px 1px 10px rgba(43, 177, 255, 0.8);
    border-radius: 20px;
}

.input-fields {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-n {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    width: 100%;
}


form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"], form button {
    width: 92%;
    padding: 10px;
    border: 1px solid var(--blue-color);
    border-radius: 6px;
    margin: 5px 0;
    box-shadow: 0px 1px 5px rgba(43, 177, 255, 0.6);
    background-color: var(--black-color);
    color: var(--white-color);
}

.btn-n button {
    font-size: 1.8vh;
    font-family: var(--main-font);
    width: 100%;
    margin: 15px;
    background-color: var(--blue-color);
    color: var(--black-color);
    transition: 0.4s ease-in-out;
}

form button:hover {
    background-color: var(--black-color);
    color: var(--blue-color);
    cursor: pointer;
}

form label {
    font-size: 1.5vh;
}

form p {
    font-size: 1.5vh;
}

form p a {
    color: var(--blue-color);
}

.input-field{
    width: 100%;
}

.field h3 {
    font-size: 3vh;
    color: var(--blue-color);
    text-align: left;
}

span{
    display: flex;
    align-items: center;
}

span img {
    position: relative;
    top: 6px;
    right: 6px;
    width: 60px;
    height: 60px;
}