@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 :root {
     --primary-color: #008080;
     --black-color: #121212;
     --blue-color: rgb(43, 177, 255);
     --white-color: #F5F5F5;
     --main-font: "Montserrat";
     --secondary-font: "Inter";
     --font-size: 2.5vh;
 }
 
 body {
     font-family: var(--main-font), sans-serif;
     font-size: var(--font-size);
     margin: 0;
     padding: 0;
     background-color: var(--black-color);
     color: var(--white-color);
 }

 nav {
    background-color: var(--black-color);
    backdrop-filter: blur(15px);
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: var(--white-color);
}

.navBar .logo h2 {
    color: var(--white-color);
}

.navItems {
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navList .nav-item {
    color: var(--white-color);
    text-decoration: none;
}

.navList .nav-item:hover {
    color: var(--blue-color);
}

#menuBar {
    color: var(--white-color);
    cursor: pointer;
}

#closeBtn {
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

#navSlide {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--black-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navSlideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navSlideContent .navList {
    flex-direction: column;
    gap: 20px;
}

.navSlideFooter {
    position: absolute;
    bottom: 20px;
    color: var(--white-color);
    text-align: center;
}

@media (max-width: 768px) {
    .navList {
        display: none;
    }
    .logo > h2 {
        font-size: 2.3vh;
    }
    .main-screen {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110vh;
    }

    form {
        min-width: 250px;
        max-width: 270px;
    }

    .home {
        min-width: 270px;
        max-width: 290px;
    }
}

@media (min-width: 1100px) {
    #menuBar {
        display: none;
    }
    .navSlideContent {
        display: none;
    }

    form {
        min-width: 300px;
    }
}

.main-screen {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    margin: 20px;
    gap: 20px;
}

form {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    padding: 30px;
    border: 1.5px solid var(--blue-color);
    box-shadow: 0px 1px 10px rgba(43, 177, 255, 0.8);
    border-radius: 20px;
}

.input-fields {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-n {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    width: 100%;
}


form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"], form button {
    width: 92%;
    padding: 10px;
    border: 1px solid var(--blue-color);
    border-radius: 6px;
    margin: 5px 0;
    box-shadow: 0px 1px 5px rgba(43, 177, 255, 0.6);
    background-color: var(--black-color);
    color: var(--white-color);
}

.btn-n button {
    font-size: 1.8vh;
    font-family: var(--main-font);
    width: 100%;
    margin: 15px;
    background-color: var(--blue-color);
    color: var(--black-color);
    transition: 0.4s ease-in-out;
}

form button:hover {
    background-color: var(--black-color);
    color: var(--blue-color);
    cursor: pointer;
}

form label {
    font-size: 1.5vh;
}

form p {
    font-size: 1.5vh;
}

form p a {
    color: var(--blue-color);
}

.input-field{
    width: 100%;
}

.field h3 {
    font-size: 3vh;
    color: var(--blue-color);
    text-align: left;
}

span{
    display: flex;
    align-items: center;
}

span img {
    position: relative;
    top: 6px;
    right: 6px;
    width: 60px;
    height: 60px;
}