@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 :root {
     --primary-color: #008080;
     --black-color: #121212;
     --blue-color: #00AEEF;
     --white-color: #F5F5F5;
     --main-font: "Montserrat";
     --secondary-font: "Inter";
     --font-size: 2.5vh;
 }
 
 body {
     font-family: var(--main-font), sans-serif;
     font-size: var(--font-size);
     margin: 0;
     padding: 0;
     background-color: var(--black-color);
     color: var(--white-color);
 }

 nav {
    background-color: var(--black-color);
    backdrop-filter: blur(15px);
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: var(--white-color);
}

.navBar .logo h2 {
    color: var(--white-color);
}

.navItems {
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navList .nav-item {
    color: var(--white-color);
    text-decoration: none;
}

.navList .nav-item:hover {
    color: var(--blue-color);
}

#menuBar {
    color: var(--white-color);
    cursor: pointer;
}

#closeBtn {
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

#navSlide {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--black-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navSlideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navSlideContent .navList {
    flex-direction: column;
    gap: 20px;
}

.navSlideFooter {
    position: absolute;
    bottom: 20px;
    color: var(--white-color);
    text-align: center;
}

@media (max-width: 768px) {
    .navList {
        display: none;
    }
    .logo > h2 {
        font-size: 2.3vh;
    }
}

@media (min-width: 1100px) {
    #menuBar {
        display: none;
    }
    .navSlideContent {
        display: none;
    }
}